body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbcece;
}

nav {
    background-color: #4e0ba5;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #2b035a;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#category-ads-container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ad {
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad h2 {
    color: #4e4b4b;
    font-size: 1.2em;
    text-align: center;
}

.ad img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.ad p {
    color: #555;
    text-align: center;

}

.ad button {
    background-color: #007bff;
    color: #f7f7f7;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; 
}





#login-form-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #e7d0d0;
    padding: 10px;
    border: 3px solid #601c8d;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#login-form-container h3 {
    color: #4e0ba5;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#loginForm label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

#loginForm input {
    width: 150px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#loginForm button {
    background-color: #4e0ba5;
    color: #fff;
    border: none;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#loginForm button:hover {
    background-color: #2b035a;
}



#success-message {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: green;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
}

#add-to-favorites-message {
    position: fixed;
    top: 10px; 
    right: 10px;
    display: none;
    background-color: rgb(14, 11, 211);
    color: white;
    padding: 10px;
    z-index: 1000; 
    border-radius: 5px;
    font-weight: bold;
}

.ad button:hover {
    background-color: #0056b3; 
}

#already-to-favorites-message{
    position: fixed;
    top: 10px; 
    right: 10px;
    display: none;
    background-color: rgb(189, 18, 18);
    color: white;
    padding: 10px;
    z-index: 1000; 
    border-radius: 5px;
    font-weight: bold;
}
